- model_class = FosterHome
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:created_at)
      -# %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @foster_homes.each do |foster_home|
      %tr
        %td= link_to foster_home.id, foster_home_path(foster_home)
        %td= foster_home.name
        %td= foster_home.address
        %td=l foster_home.created_at
        -# %td
          -# = link_to t('.edit', :default => t("helpers.links.edit")), edit_foster_home_path(foster_home), :class => 'btn btn-default btn-xs'
          -# = link_to t('.destroy', :default => t("helpers.links.destroy")), foster_home_path(foster_home), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_foster_home_path, :class => 'btn btn-primary'
