  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="radio">
        <%= f.label :report_type_found do %>
          <%= f.radio_button :report_type, "found" %>
          I <strong>found</strong> an animal (that does not belong to me)
        <% end %>
      </div>
      <div class="radio">
        <%= f.label :report_type_lost do %>
          <%= f.radio_button :report_type, "lost" %>
          I <strong>lost</strong> an animal due to the fire
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :summary, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :summary, class: "form-control" %>
      <p class="help-block">
        Please include kennel/location, animal name, and Lake County
        ID, if available.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :animal_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.collection_radio_buttons(:animal_type_id, AnimalType.all, :id, :name) do |button| %>
        <div class="radio">
          <%= button.label do %>
            <%= button.radio_button %>
            <%= button.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", rows: 5 %>
      <p class="help-block">
        Please include details such as:
      </p>
      <ul class="help-block">
        <li>the town the animal was lost or found in
        <li>the animal's breed
        <li>coat color(s) and pattern
        <li>eye color
        <li>distinctive markings
        <li>gender
        <li>name
        <li>neuter status
        <li>length of tail
        <li>date found/lost (otherwise we only track date reported here)
        <li>collar color and type
      </ul>
      <p class="help-block">
        When re-posting from Facebook, please include a link to the
        original post, not just the page it was shared on.  (Eventually
        it will get pushed off the bottom of the page it was shared
        on.)
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, "Originating location",
      class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.collection_select(:location_id, Location.all, :id, :name,
                              { include_blank: "unknown" },
                              class: "form-control") %>
      <p class="help-block">
        Please select the location that the animal was originally found
        (if found) or where it was lost from (if lost).
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reporter_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :reporter_name, class: "form-control" %>
      <p class="help-block">
        Please enter your name.  If you are reposting from another source,
        please indicate both your name and the original reporter's name if
        available.  For example: "Jane Doe via Joe Schmoe" if Jane was the
        original reporter and Joe is reposting it here.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reporter_contact_info, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :reporter_contact_info, class: "form-control" %>
      <p class="help-block">
        This will be displayed <strong>publicly</strong> so
        that others may respond to your report.  Suggested forms of
        contact: email, twitter, or phone.  Your residential address
        is not recommended.  If re-posting or posting on behalf of
        someone else, please include a contact for the original
        reporter.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reporter_email, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :reporter_email, class: "form-control" %>
      <p class="help-block">
        Please include an email so that we may easily contact you with
        follow-up correspondence regarding your report.  This will be
        kept <strong>private</strong> and will not be displayed
        publicly.
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :photo, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.file_field :photo %>
      <p class="help-block">
        Please avoid unpleasant or haunting photos of injured animals.
        If you get an error after uploading for 15-30 sec, try
        resizing your photo to ~800x800 pixels first.
      </p>
    </div>
  </div>
