<div class="page-header">
  <h1>Editing Report</h1>
</div>

<%= form_for(@report, html: { class: "form-horizontal"}) do |f| %>
  <%= render "form_fields", f: f %>

  <div class="form-group">
    <%= f.label :reunited, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <p class="form-control-static">
        <%= @report.reunited? ? "Yes" : "No" %>
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
      <div class="pull-right">
        <%= link_to 'Remove Reunited Status', remove_reunited_report_path(@report),
              method: :post,
              class: "btn btn-warning #{"disabled" unless @report.reunited}",
              data: {
                confirm: "Are you sure you want to clear the reuniter fields? "+
                  "There is no undo."
              } %>
        <%= link_to 'Destroy', @report, method: :delete,
              class: "btn btn-danger",
              data: {
                confirm: "Are you sure you want to delete this report? "+
                  "There is no undo."
              } %>
      </div>
    </div>
  </div>
<% end %>
