<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<p>
  Please
  <%= mail_to "mc-valley-fire-animals@oak.homeunix.org",
         "email me",
         subject: "Valley Fire Animals: " %>
  to update or remove a report.
</p>

<h2 style="font-size: 150%">Search</h2>

<div class="report-search" style="margin-bottom: 2em">
  <%= form_tag({}, method: :get,
               class: "form-inline"
               ) do %>
    <div style="margin-top: 0.5em">
      <div class="form-group">
        <%= label_tag :report_type %>
        <%
          choices = %w{lost found}.map {|t| [t.titleize, t] }
        %>
        <%= select_tag :report_type,
              options_for_select(choices, params[:report_type]),
              include_blank: "either",
              class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :animal_type_id %>
        <%
          choices = AnimalType.all.map {|a| [a.name, a.id] }
          choices.unshift ["none specified", "none"]
        %>
        <%= select_tag :animal_type_id,
              options_for_select(choices, params[:animal_type_id]),
              include_blank: "any",
              class: "form-control" %>
      </div>
      <br class="hidden-xs hidden-md hidden-lg">
      <div class="form-group">
        <%= label_tag :location_id %>
        <%
          choices = Location.all.map {|a| [a.name, a.id] }
          choices.unshift ["none specified", "none"]
        %>
        <%= select_tag :location_id,
              options_for_select(choices, params[:location_id]),
              include_blank: "any",
              class: "form-control" %>
      </div>
      <br class="hidden-xs">
      <div class="form-group">
        <%= label_tag :reunited %>
        <%
          choices = [
            ["Yes", true],
            ["No", false],
          ]
        %>
        <%= select_tag :reunited,
              options_for_select(choices, params[:reunited]),
              include_blank: "either",
              class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :words %>
        <%= text_field_tag :words, params[:words], class: "form-control" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

<div style="margin-bottom: 0.5em; margin-top: 0.5em">
  <%= link_to 'New Report', new_report_path,
    class: "btn btn-primary" %>

  <p class="pull-right">
    <%= page_entries_info @reports %>
  </p>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Reported</th>
      <th>Report type</th>
      <th>Animal type</th>
      <th>Summary</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Reporter name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.created_at.strftime("%b %-d %l:%M %P") %></td>
        <td>
          <%= report.report_type %>
          <%= "REUNITED" if report.reunited %>
        </td>
        <td><%= report.animal_type_name %></td>
        <td><%= report.summary %></td>
        <td>
          <% if report.photo.present? %>
            <%= image_tag(report.photo.url(:thumb)) %>
          <% end %>
        </td>
        <td>
          <% more_link = link_to("[read&nbsp;more]".html_safe, report) %>
          <%= truncate(h(report.description),
                       omission: " " + more_link,
                       escape: false,
                       length: 150) %>
        </td>
        <td><%= report.reporter_name %></td>
        <td><%= link_to 'View Details', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class="pagination-wrapper">
  <%= paginate @reports, theme: 'twitter-bootstrap-3' %>
</nav>
