<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Report type</th>
      <th>Reporter name</th>
      <th>Reporter contact info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.summary %></td>
        <td><%= report.description %></td>
        <td><%= report.report_type %></td>
        <td><%= report.reporter_name %></td>
        <td><%= report.reporter_contact_info %></td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
