<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reported</th>
      <th>Report type</th>
      <th>Summary</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Reporter name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.created_at.strftime("%b %-d %l:%M %P") %></td>
        <td><%= report.report_type %></td>
        <td><%= report.summary %></td>
        <td>
          <% if report.photo.present? %>
            <%= image_tag(report.photo.url(:thumb)) %>
          <% end %>
        </td>
        <td>
          <% more_link = link_to("[read&nbsp;more]".html_safe, report) %>
          <%= truncate(h(report.description),
                       omission: " " + more_link,
                       escape: false,
                       length: 150) %>
        </td>
        <td><%= report.reporter_name %></td>
        <td><%= link_to 'Show', report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path, class: "btn btn-primary" %>
