<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @report.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @report.report_type %>
</p>

<p>
  <strong>Reporter name:</strong>
  <%= @report.reporter_name %>
</p>

<p>
  <strong>Reporter contact info:</strong>
  <%= @report.reporter_contact_info %>
</p>

<%= link_to 'View all reports', reports_path %>
