<div class="page-header">
  <h1>Report <%= @report.id %></h1>
  <% if @report.reunited %>
    <h2>This animal has been returned home.</h2>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2 field-label">
    Summary
  </div>
  <div class="col-sm-8">
    <strong>
      <%= @report.report_type.titleize %> <%= @report.animal_type_name %>:
    </strong>
    <%= @report.summary %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reported
  </div>
  <div class="col-sm-8">
    <%= @report.created_at.strftime("%A, %B %-d, %Y at %l:%M %P") %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Description
  </div>
  <div class="col-sm-8">
    <%= @report.description %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Originating location
  </div>
  <div class="col-sm-8">
    <%= @report.location_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reporter name
  </div>
  <div class="col-sm-8">
    <%= @report.reporter_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reporter contact info
  </div>
  <div class="col-sm-8">
    <%= @report.reporter_contact_info %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Photo
  </div>
  <div class="col-sm-8">
    <% if @report.photo.present? %>
      <%= image_tag(@report.photo.url(:medium)) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reunited?
  </div>
  <div class="col-sm-8">
    <%= @report.reunited ? "Yes" : "No" %>
    <% if @report.reunited %>
      <p>
        <strong>We've been told this animal is reunited with its owner.</strong>
        If this is incorrect, please <%= mail_to "mc-valley-fire-animals@oak.homeunix.org",
              "notify us",
               subject: "Valley Fire Animals: " %> and we will fix the report ASAP.
      </p>
    <% else %>
      <p>
        Have you reunited this animal with its owner?
        <br>
        <%= button_to 'Let us know!', reunite_form_path,
          class: 'btn btn-small btn-primary', role: "button" %>
      </p>
    <% end %>
  </div>
</div>

<% if @report.reunited? %>
  <div class="row">
    <div class="col-sm-2 field-label">
      Reunited at
    </div>
    <div class="col-sm-8">
      <%= @report.reunited_at.strftime("%A, %B %-d, %Y at %l:%M %P") %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 field-label">
      Reuniter name
    </div>
    <div class="col-sm-8">
      <%= @report.reuniter_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 field-label">
      Reuniter comment
    </div>
    <div class="col-sm-8">
      <%= @report.reuniter_comment %>
    </div>
  </div>
<% end %>

<br>
<%= link_to 'View all reports', reports_path %>
