<div class="page-header">
  <h1>Report <%= @report.id %></h1>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2 field-label">
    Summary
  </div>
  <div class="col-sm-8">
    <strong><%= @report.report_type.titleize %>:</strong>
    <%= @report.summary %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reported
  </div>
  <div class="col-sm-8">
    <%= @report.created_at.strftime("%A, %B %-d, %Y at %l:%M %P") %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Description
  </div>
  <div class="col-sm-8">
    <%= @report.description %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reporter name
  </div>
  <div class="col-sm-8">
    <%= @report.reporter_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 field-label">
    Reporter contact info
  </div>
  <div class="col-sm-8">
    <%= @report.reporter_contact_info %>
  </div>
</div>

<br>
<%= link_to 'View all reports', reports_path %>
