<!DOCTYPE html>
<html>
<head>
  <title>ValleyFireAnimals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content">
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= msg %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
