<!DOCTYPE html>
<html>
<head>
  <title>Valley Fire Lost & Found Animals</title>
  <meta name="description" content="The place to find and report
    missing pets and animals in the wake of the
    Valley Fire in Lake County, CA">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "layouts/analytics" %>
</head>
<body>

  <%= render "layouts/nav" %>
  <div class="content">
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= msg %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>

</body>
</html>
